{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .RumusBarisanAritmetika{
				width: 40%;
				height: 25px;
				background: lightgrey;
				text-align: center;
				padding: 5px;
			}
			.RumusBarisanGeometri{
				width: 40%;
				height: 25px;
				background: lightgrey;
				text-align: center;
				padding: 5px;
			}
			.PolaBarisanGeo{
				float: left;
				margin-right: 50px;
			}
			.ConSolBarisGeo{
				width: 60%;
				height: 30px;
				text-align: justify;
				padding: 10px;
				border-top: 2px double black;
				border-right: 2px double black;
				border-left: 2px double black;
				border-top-color: yellowgreen;
				border-right-color: yellowgreen;
				border-left-color: yellowgreen;
			}
			.ConSolBarisGeo2{
				width: 60%;
				height: 30px;
				text-align: justify;
				padding: 10px;
				border-right: 2px double black;
				border-left: 2px double black;
				border-color: yellowgreen;
			}
			.ConSolBarisGeo3{
				width: 60%;
				height: 30px;
				text-align: justify;
				padding: 10px;
				border-right: 2px double black;
				border-left: 2px double black;
				border-color: yellowgreen;
			}
			.ConSolBarisGeo4{
				width: 60%;
				height: 30px;
				text-align: justify;
				padding: 10px;
				border-right: 2px double black;
				border-left: 2px double black;
				border-color: yellowgreen;
			}
			.ConSolBarisGeo5{
				width: 60%;
				height: 30px;
				text-align: justify;
				padding: 10px;
				border-right: 2px double black;
				border-left: 2px double black;
				border-color: yellowgreen;
			}
			.ConSolBarisGeo6{
				width: 60%;
				height: 30px;
				text-align: justify;
				padding: 10px;
				border-bottom: 2px double black;
				border-right: 2px double black;
				border-left: 2px double black;
				border-color: yellowgreen;
			}
			.BarisanArit{
				float: left;
				margin-right: 50px;
			}
</style>
<hr>
<center><h2>LATIHAN POLA BILANGAN</h2></center>
		<br>
		<p>Kerjakan latihan soal berikut dengan teliti dan tepat!</p>
		<ol style="margin-left: -20px;" type="1">
			<li>Diberikan pola sebagai berikut.
				<p>2, 4, 6, 8, …, …, …</p>
				<p>Tentukan 3 bilangan dari pola tersebut.</p></li>
			<li>Dengan menggunakan rumus pola ganjil, berapa nilai suku ke-11?</li>
			<li>Suatu bilangan memiliki pola sebagai berikut.
				<p>1, 2, 9, 16, 25, 36, ...</p>
				<p>Hitunglah pola bilangan ke-10 dalam pola bilangan persegi.</p></li>
			<li>Perhatikan pola di bawah ini.
				<p>Banyaknya lingkaran pada pola ke-9 adalah …</p></li>
				<img src="\static\images\2. 11.png" width="200px">
				<p style="font-size: smaller;">Gambar 2. 11</p>
		</ol>
		<br>
		<hr>
        <br>
        <hr>
        <center>
            <h2>LATIHAN BARISAN BILANGAN</h2>
        </center>
        
        <br>
    <p style="text-align: justify;">Kerjakan latihan soal berikut dengan teliti dan tepat!</p>

    <ol style="text-align: justify; margin-left: -20px;" type="1">
        <li>Tentukan suku pertama dan beda dari barisan aritmetika berikut.</li>
        <ol style="margin-left: -18px;" type="a">
            <li>3, 6, 9, 12, ….</li>
            <li>20, 25, 30, 35, ….</li>
            <li>−12, −9, −6, −3, …</li>
        </ol>
        <li>Tentukan suku pertama dan rasio dari barisan geometri berikut.</li>
        <ol style="margin-left: -18px;" type="a">
            <li> 27, 9, 3, …</li>
            <li>Suku ke-4 = 8, suku ke-6 = 279</li>
        </ol>
        <li>Diketahui suku pertama suatu deret geometri adalah 5 dengan suku ke-4 adalah 320. </li>
        <p style="text-align: justify;">Tentukan rasio dari deret tersebut!</p>
    </ol>
    <br>
    <hr>
    <br><hr>
    <center><h2>LATIHAN DERET BILANGAN</h2></center>
			
			<br>
		<p style="text-align: justify;"><strong>Kerjakan latihan soal berikut dengan teliti dan tepat!</strong></p>
		<ol style="margin-left: -20px;" type="1">
			<li>Diketahui suatu deret aritmatika memiliki suku ke-5 = 13 dan suku ke-9 = 21. Tentukan:</li>
			<ol style="margin-left: -18px;" type="a">
				<li>Suku pertama</li>
				<li>Beda</li>
				<li>Suku ke-15</li>
				<li>Jumlah suku pertama ke-6</li>
			</ol>
			<li>Suatu deret geometri memiliki pola 729, 81, 9, 1, …, 𝑈<sub>9</sub></li>
			<ol style="margin-left: -18px;" type="a">
				<li>Suku pertama</li>
				<li>Beda</li>
				<li>Suku ke-9</li>
				<li>Jumlah suku pertama ke-7</li>
			</ol>
		</ol>
		<br>
		<hr>
{% endblock %}