{% extends 'base.html' %}

{% load static %}

{% block content %}

<hr>
<p style="text-align: justify;">Pada bahan ajar ini, kamu akan diajak untuk memahami barisan dan deret bilangan serta penggunaannya dalam pemecahan masalah dengan cara menentukan pola barisan bilangan sederhana, menentukan suku ke-n barisan aritmetika dan geometri, menentukan jumlah n suku pertama deret aritmetika dan geometri, serta memecahkan masalah yang berkaitan dengan barisan dan deret (Djumanta & Susanti, 2008).</p>
<hr>
<h2>LATAR BELAKANG</h2>
	<p style="text-align: justify;">Barisan dan deret bilangan merupakan salah satu materi yang ada dalam pelajaran matematika di tingkat sekolah menengah pertama. Materi ini bertujuan untuk membekali peserta didik tentang konsep barisan dan deret bilangan yang dapat digunakan untuk memecahkan masalah. Kompetensi yang diharapkan dalam materi barisan dan deret bilangan yaitu mengidentifikasi pola barisan dan deret bilangan, menerapkan konsep barisan dan deret aritmatika, menerapkan konsep barisan dan deret geometri, dan memecahkan masalah menggunakan konsep barisan dan deret bilangan.</p>
	<p style="text-align: justify;">Barisan dan deret merupakan materi yang sering keluar di setiap ujian sekolah bahkan ujian masuk perguruan tinggi. Oleh karena itu, kemampuan pemahaman konsep peserta didik untuk memahami barisan dan deret bilangan sangat penting ditanamkan agar peserta didik mampu menyelesaikan permasalahan dengan baik.</p>
	<p style="text-align: justify;">Pengembangan web ini merupakan salah satu tujuan untuk memudahkan peserta didik dalam memahami materi barisan dan deret bilangan. Dalam kuesioner ditemukan terdapat beberapa kesulitan peserta didik pada bab barisan dan deret bilangan, khususnya materi segitiga pascal dan deret geometri. Selain itu, bentuk soal cerita juga masih banyak yang kesulitan dalam menyelesaikannya.</p>
	<p style="text-align: justify;">Dengan adanya hasil kuesioner tersebut, penulis mengembangkan web ini dengan memberikan penjelasan dan contoh soal yang berisi penyelesaiannya secara terperinci sehingga akan memudahkan peserta didik dalam memahami materi barisan dan deret bilangan.</p>
	<br>
	<hr>

    <h2>BARISAN DAN DERET BILANGAN</h2>
    <p style="text-align: justify;">Barisan dan deret tentu merupakan materi baru yang akan dipelajari pada materi ini. Konsep barisan dan deret bilangan sangat penting peranannya tidak hanya dalam ilmu pengetahuan dan teknologi saja, stetapi juga dalam kehidupan sehari-hari. Terdapat beberapa masalah yang penyelesaiannya memerlukan konsep materi ini, contohnya sebagai berikut.</p>
    <p style="text-align: justify;">Sebuah stadion olahraga yang baru dibangun mempunyai 200 tempat duduk pada barisan paling depan di tribun barat dan timur, serta 120 tempat duduk pada barisan paling depan di tribun utara dan selatan. Setiap baris tempat duduk tersebut 8 kursi lebih banyak daripada baris di depannya. Berapa kapasitas penonton dalam stadion tersebut jika terdapat 50 baris tempat duduk?</p>
    <p style="text-align: justify;">Jumlah bakteri dalam suatu kondisi tertentu bertambah dari 5.000 menjadi 12.500 dalam 2 hari. Jika jumlah bakteri tersebut terus bertambah menurut deret geometri, berapa banyak pertumbuhan bakteri tersebut per hari?</p>
    <p style="text-align: justify;">Untuk menjawab permasalahan-permasalahan tersebut, kamu harus mempelajari konsep barisan dan deret bilangan dengan baik seperti yang akan dibahas pada bab ini.</p>
    <hr>

<table cellpadding="5" width="1250">
    <tr>
        <td><h3>Pola Bilangan</h3></td>
        <td><p style="text-align: justify;">Pola bilangan terbagi menjadi lima macam, yaitu pola bilangan ganjil, pola bilangan genap, pola bilangan persegi, pola bilangan persegi panjang, pola bilangan segiitga, dan pola bilangan Fibonacci.</p>
        </td>
        <td rowspan="7" align="center"><img style="margin: auto;" src="https://2.bp.blogspot.com/-a1-mA_mW3c8/Usja6Cz00KI/AAAAAAAAIc8/g-zVSqbQgik/s1600/barisan+bilangan.jpg" width="200" alt=""></td>
    </tr>
    <tr>
        <td><h3>Barisan Bilangan</h3></td>
        <td><p style="text-align: justify;">Barisan bilangan pada matematika terbagi menjadi dua, yaitu barisan aritmetika dan barisan geometri</p>
        </td>
    </tr>
    <tr>
        <td><h3>Deret Bilangan</h3></td>
        <td><p style="text-align: justify;">Deret bilangan pada matematika juga terbagi menjadi dua, yaitu deret aritmetika dan deret geometri.</p>
        </td>
    </tr>
</table>
<br>
<hr>
{% endblock %}