{% extends 'base.html' %}

{% load static %}

{% block content %}
<hr>
<center><h2>Barisan dan Deret Bilangan</h2></center>
<br>
<p>Materi yang akan disajikan pada materi Barisan dan Deret Bilangan untuk Sekolah Menengah Pertama/Madrasah Tsanawiyah antara lain:</p>
<ul style="margin-left: -20px;">
    <li><b>POLA BILANGAN</b></li>
    <ul style="margin-left: -20px;">
        <li>Pola Bilangan Ganjil</li>
        <li>Pola Bilangan Genap</li>
        <li>Pola Bilangan Persegi</li>
        <li>Pola Bilangan Persegi Panjang</li>
        <li>Pola Bilangan Segitiga</li>
        <li>Pola Bilangan Fibonacci</li>
    </ul> 
    <br>
    <li><b>BARISAN BILANGAN</b></li>
    <ul style="margin-left: -20px;">
        <li>Barisan Aritmetika</li>
        <li>Barisan Geometri</li>
    </ul>
    <br>
    <li><b>DERET BILANGAN</b></li>
    <ul style="margin-left: -20px;">
        <li>Deret Aritmetika</li>
        <li>Deret Geometri</li>
    </ul>
</ul>
<hr>
{% endblock %}