{% extends 'base.html' %}

{% load static %}

{% block content %}
    <hr>
    <center><h2>EVALUASI POLA BILANGAN</h2></center>
	<br>
	<ol type="A"> 
	<li><b>Soal Objektif</b></li>
	<p><strong>Pilihlah salah satu jawaban yang benar.</strong></p>
	<ol type ="1" style="text-align: justify; margin-left: -20px;">
	<li >Diketahui pola bilangan 3, 6, 10, 15, .... Berapa nilai pola ke-18 ….</li>
    	<ol style="margin-left: -18px;" type ="a">
			<li>171</li>
			<li>162</li>
			<li>153</li>
			<li>144</li>
		</ol>
	<li>Perhatikan pola segitiga di samping! Banyaknya jumlah segitiga pada pola ke-26 adalah …</li>
		<img src="\static\images\Soal Pola Segitiga.png" width="200px">
		<p style="font-size: smaller;">Gambar 2. 12</p>
		<ol style="margin-left: -18px;" type="a">
			<li>598</li>
			<li>624</li>
			<li>650</li>
			<li>676</li>
		</ol>
	</ol>
	<br>
	<li><b>Soal Subjektif</b></li>
		<p><strong>Jawablah dengan jelas dan benar.</strong></p>
			<ol style="text-align: justify; margin-left: -20px;" type="3">
				<li type ="1">Suatu pola bilangan 5, 11, 21, 35, …, jika rumus digunakan 𝑈<sub>𝑛</sub> = 2𝑛<sup>2</sup> + 3, maka pola ke-15 adalah ...</li>
				<li>Tentukan 7 suku pertama dari suatu pola bilangan dengan rumus 5𝑛 − 2!</li>
				<li>Apa yang kamu ketahui mengenai bilangan Fibonacci? Jelaskan dan beri contoh!</li>
			</ol>	
	</ol>
	<br>
	<hr>

<br>
<hr>

<center><h2>EVALUASI BARISAN BILANGAN</h2></center>
<br>
    <ol type="A">
		<li><b>Soal Objektif</b></li>
			<p><strong>Pilihlah salah satu jawaban yang benar.</strong></p>
			<ol style="margin-left: -20px;" type="1">
			<li>Rumus suku ke-n dari barisan 5, –2, –9, –16, … adalah …</li>
			<ol style="margin-left: -18px;" type="a">
				<li>𝑈𝑛 = 12 – 7𝑛</li>
				<li>𝑈𝑛 = 12 + 7𝑛</li>
				<li>𝑈𝑛 = 12 – 5𝑛</li>
				<li>𝑈𝑛 = 12 + 5𝑛</li>
			</ol>
			<li>Suatu barisan memiliki pola 6, 10, 14, 18, 22, … Terletak pada suku keberapa bilangan 74 berada …</li>
				<ol style="margin-left: -18px;" type="a">
					<li>20</li>
					<li>18</li>
					<li>16</li>
					<li>14</li>
				</ol>
			<li>Barisan geometri memiliki pola 48, 24, 12, 6, 3, … Tentukan pola ke-7!</li>
				<ol style="margin-left: -18px;" type="a">
					<li>1/4</li>
					<li>2/4</li>
					<li>3/4</li>
					<li>4/4</li>
				</ol>
			</ol>
			<br>

			<li><b>Soal Subjektif</b></li>
			<p><strong>Jawablah dengan jelas dan benar.</strong></p>
				<ol style="margin-left: -18px;" type="4">
					<li> Dalam suatu gedung pertunjukkan disusun kursi dengan baris paling depan terdiri dari 24 kursi, baris kedua berisi 28 kursi, baris ketiga berisi 32 kursi, dan seterusnya. Banyaknya kursi pada baris ke-10 adalah …</li>
					<li>Jelaskan perbedaan barisan geometri naik dan turun!</li>
				</ol>
			</ol>
		</ol>
		<br>
<hr>
<br>
		<hr>
        <h2 style="text-align: center;">EVALUASI DERET BILANGAN</h2>
        <br>
        <ol type="A">
            <li><b>Soal Objektif</b></li>
            <p style="text-align: justify;"><strong>Pilihlah salah satu jawaban yang benar.</strong></p>
            <ol style="margin-left: -20px;" type="1">
                <li style="text-align: justify;">Jumlah 15 suku pertama deret aritmatika jika diketahui suku ke-3 adalah 24 dan suku ke-6 adalah 36 adalah …</li>
                <ol style="margin-left: -18px;" type="a">
                    <li>660</li>
                    <li>540</li>
                    <li>345</li>
                    <li>225</li>
                </ol>
                <br>
                <li style="text-align: justify;">Pertambahan penduduk suatu daerah setiap tahun mengikut deret geometri. Pada tahun 2002, pertambahannya 42. Pada tahun 2004, pertambahannya 168. Pertambahan penduduk itu pada tahun 2006 adalah …</li>
                <ol style="margin-left: -18px;" type="a">
                    <li>572</li>
                    <li>672</li>
                    <li>762</li>
                    <li>862</li>
                </ol>
            </ol>
            <br>

            <li><b>Soal Subjektif</b></li>
            <p style="text-align: justify;"><strong>Jawablah dengan jelas dan benar.</strong></p>
            <ol style="margin-left: -20px;" type="1">
                <li style="text-align: justify;">Jumlah 6 suku pertama deret geometri 4 + 12 + 36 + 108 + adalah ….</li>
                <li style="text-align: justify;">Sebuah perusahaan pakaian memproduksi 2.000 kaos pada tahun pertama. Adanya permintaan konsumen setiap tahunnya, perusahaan memutuskan untuk meningkatkan produksi kaos sebanyak 5% dari produksi awal setiap tahunnya.</li>
                <ol style="margin-left: -18px;" type="a">
                    <li style="text-align: justify;">Nyatakan jumlah kaos yang diproduksi perusahaan tersebut pada 7 tahun pertama dalam barisan bilangan.</li>
                    <li style="text-align: justify;">Tentukan jumlah kaos yang diproduksi pada tahun ke-15!</li>
                    <li style="text-align: justify;">Tentukan jumlah kaos yang telah diproduksi sampai tahun ke-9!</li>
                </ol>
            </ol>
        </ol>
    <br>
    <hr>

{% endblock %}