<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigasi</title>
    
</head>
<body>
    <nav class="menu">
        
        <label>
            <img style="width:22px; height: 22px;" src="\static\images\sigma.jpg" alt="">
            Barisan dan Deret Bilangan
        </label>
        <ul>
            <li><a href="/beranda">Beranda</a></li>
            <li><a href="/tujuan">Tujuan Pembelajaran</a></li>
            <li><a href="/materi">Materi</a>
                <ul class="dropdown">
                    <li><a href="/polabilangan">Pola Bilangan</a></li>
                    <li><a href="/barisanbilangan">Barisan Bilangan</a></li>
                    <li><a href="/deretbilangan">Deret Bilangan</a></li>
                    <li><a href="/latihan">Latihan</a></li>
                </ul>    
            <li><a href="/rangkuman">Rangkuman</a></li>
            <li><a href="/evaluasi">Evaluasi</a></li>
            <li><a href="/profil">Profil</a></li>
            </li>
        </ul>


    </nav>
</body>
</html>