{% extends 'base.html' %}

{% load static %}

{% block content %}

    <br>
    <hr>
    <center><h2>TUJUAN PEMBELAJARAN</h2></center>
	<br>
	<p>Tujuan pembelajaran materi Barisan dan Deret Bilangan untuk Sekolah Menengah Pertama (SMP)/Madrasah Tsanawiyah antara lain:</p>
	<ul style="text-align: justify; margin-left: 17px;">
		<li>Peserta didik dapat memahami barisan dan deret berdasarkan pola bilangan dengan cermat.</li>
		<li>Peserta didik dapat menganalisis barisan dan deret berdasarkan pola meliputi barisan aritmetika dan geometri secara percaya diri.</li>
		<li>Peserta didik dapat menentukan masalah yang berkaitan dengan barisan dan deret aritmetika atau geometri secara cermat dan teliti.</li>
		<li>Peserta didik dapat memecahkan masalah yang berkaitan dengan barisan dan deret aritmetika atau geometri secara cermat dan teliti.</li>
	</ul>
	<br>
	<hr>

{% endblock %}